@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    color: #5a1ac2;
    font-family: "VT323", monospace;
    text-shadow: 3px 3px 6px rgba(185, 181, 219, 0.4);
    background: linear-gradient(to right, #6102f9, #6f0290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
      font-family: "VT323", monospace;
}

p {
    font-family: "VT323", monospace;
    color: #333;
    line-height: 1.6;
}

/*Ejercicio 6: Menú Horizontal con Flexbox */
/* Diseñar un menú de navegación con <ul> y <li> usando display: flex, separación
entre ítems y alineación centrada.
*/
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    font-family: "VT323", monospace;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: rgb(83, 49, 179);
}

/*Ejercicio 7: Tarjetas Responsivas
Crear tres tarjetas con imagen, título y descripción. Usar grid para
distribuirlas y media queries para adaptar a móvil.*/

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
}

.card-content p {
    font-family: "VT323", monospace;
    color: #666;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

}

/*Ejercicio 8
Animación de Entrada
Crear una animación que haga que un elemento aparezca desde la izquierda con
opacidad progresiva.*/

@keyframes entradaDesdeIzquierda {
    from {
        opacity: 0;
        transform: translateX(-50px); 
    }
    to {
        opacity: 1;
        transform: translateX(0);    
    }
}
.card {
    animation: entradaDesdeIzquierda 0.7s ease-out forwards;
}

/*Ejercicio 9
Transición de Imagen
Diseñar una imagen que se agrande suavemente al pasar el mouse usando
transition y transform: scale.*/
.img-transicion  {
    overflow: hidden; 
    width: fit-content;
}
.img-transicion img {
    display: block;
    transition: transform 0.3s ease; 
    cursor: pointer;
}
.img-transicion:hover img {
    transform: scale(1.1); 
}